{% extends 'base.html' %}
{% block content %}
<div class="card w-50">
    <div class="card-header text-center">
        Восстановление пароля
    </div>
    <div class="card-body">
		<h4 class="card-title">Проверьте Вашу почту.</h4>
  		<p>Мы отправили Вам на электронную почту письмо с инструкцией по восстановлению пароля. Если Вы не получили письмо, проверьте правильность введеного Вами ранее E-mail адреса.</p>
  		<a class="card-link" href="/">Вернуться на главную страницу</a>
    </div>
</div>
{% endblock %}