{% extends "base.html" %}
{% block content %}
<div class="card text-center" style="width: 32em">
    <div class="card-header">
        Регистрация
    </div>
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            Введите данные для регистрации
        </div>
        <form method="post" action="">
            {% csrf_token %}
            {% for field in reg_form.visible_fields %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text d-flex justify-content-center" style="width: 90px;" id="basic-addon1">{{field.label}}</span>
                    </div>
                    {{field}}
                </div>
            {% endfor %}
            <input class="btn btn-primary w-50" type="submit" value="Сохранить"/>
        </form>
    </div>
</div>
{% endblock %}